@viewport
{
    zoom: 1.0;
	width: extend-to-zoom;
}
@-ms-viewport
{
    zoom: 1.0;
	width: extend-to-zoom;
}
html,body
{
	padding:0px;
	height:100%;
}
body
{  
	margin:0;
	width:100%;
	font-family:'Open Sans', Helvetica, Arial, sans-serif;
	font-weight:400;
	font-size:1.05em;
}
#chartControls
{
	height: 90%;
	width: 100%;
}
#topBar
{
	height:15%;
	width: 100%;
}
#chartArea
{
	height: 85%;
	width: 100%;
	background-color:#222;
	position: relative;
}
#buttonBar
{
	height:10%; 
	width: 100%;
}
.fill
{
	height: 100%;
	width: 100%;
}
#canvasMask, #loading
{
	position: absolute;
}
#canvasMask
{
	/*overflow-x: scroll;*/
	overflow-y: hidden;
}
#largeCanvas
{
	width: 300%;
	height: 100%;    
	right: 0;
    position: absolute;
}
/*Layout ends here*/

#loading
{
	display: none;
}
.table
{
	display: table;
	height: 100%;
    width: 100%;
}
.middleCell
{
	display: table-cell;
	vertical-align: middle;
}
.buttonContainers
{
	min-width: 150px;
	height: 100%;
    display: inline-block;
	text-align: center;
	margin-top:10px;
}
.button
{
	height: 60%;
	background-color:#333;	
	border-radius: 5px;
	color: #CCC;
	border: none;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	padding: 0 15px;
	display: inline-block;
}
.active
{
	color:#25aae1;
}
.switch
{
	width:50px;
	height:50px;
	float:right;
	top:20px;
	right:20px;
	position:absolute;
}
.tabMenu
{
	height:100%;
	text-align:center;
	color:#ccc;
}
.tabs 
{
	display:inline-block;
	background-color:#333;
	height:99%;
	float:left;
	width:15%;
	border-right:1px solid #222;
	border-bottom: 1px solid #222;
	transition: border-color 1s ease;
}
.tabs:last-child
{
	width: calc( 10% - 6px );
    border-right: 0px;
}
.tabs:last-child img
{
	display: block;
	margin: 0 auto;
}
.tabs:hover
{
	background-color:#444;
	cursor: pointer;
}
.activeTab
{
	/*background:#999;*/
	border-bottom: 1px solid #FFF;
	height:99%;
}

img.desaturate { filter: grayscale(100%); }
img.desaturate { -webkit-filter: grayscale(100%); filter: grayscale(100%); }
.button:hover
{
	background:#222;
}
.icon
{
	max-width:100%;
	max-height:100%;
	float: left;
}
.buttonText
{
	float: right;
    height: 100%;
    display: table;
}
.buttonText span
{
	display: table-cell;
	vertical-align: middle;
}
.loading
{
	background-color:rgba(192,192,192,0.3);
}
#tooltip
{
	height:30%;
	width:200px;
	background:#CCC;
	color:#FFF;
	position: fixed;
	display: none;
}
#label
{

}
#open
{

}
#close
{

}
#high
{

}
#low
{

}
@media (max-width: 520px) {
.buttonContainers
{
	min-width:50px;
  }
 .buttonText
{
    display: none;
}
.icon
{
	float:none;
}
.button
{
	width:40px;
}
  
}
