@viewport
{
    zoom: 1.0;
	width: extend-to-zoom;
}
@-ms-viewport
{
    zoom: 1.0;
	width: extend-to-zoom;
}
html,body
{
	padding:0px;
	height:100%;
	
}
body
{  
	margin:0;
	width:100%;
	font-family:'Open Sans', Helvetica, Arial, sans-serif;
	font-weight:400;
	font-size:1.05em;
	overflow:hidden;
}
.table
{
	display: table;
	height: 100%;
    width: 100%;
}
.middleCell
{
	display: table-cell;
	vertical-align: middle;
}
#chartControls
{
	height: 90%;
	width: 100%;
	background:#222;
}
#topBar
{
	height:100%;
	width:100%;
}
#switch
{
	width:30px;
	height:30px;
	float:right;
	right:40px;
	position:absolute;
	z-index:1;
}
#refresh
{
width:30px;
	height:30px;
	float:right;
	right:10px;
	position:absolute;
	z-index:1;
}
.topWhole
{
	width:100%;
	height:15%;
}
#chartArea
{
	height: 85%;
	width: 100%;
	background-color:#222;
	position: relative;
}
#buttonBar
{
	height:10%; 
	width: 100%;
}
.fill
{
	height: 100%;
	width: 100%;
}
#canvasMask, #loading
{
	position: absolute;
}
#canvasMask
{
	/*overflow-x: scroll;*/
	overflow-y: hidden;
}
#largeCanvas
{
	width: 300%;
	height: 100%;    
	right: 0;
    position: absolute;
}
/*Layout ends here*/

#loading
{
	background-color:rgba(100,100,100,1);
	display:none;
}




.buttonContainers
{
	min-width: 150px;
	height: 100%;
    display: inline-block;
	text-align: center;
	margin-top:10px;
}
.button
{
	height: 60%;
	background-color:#333;	
	border-radius: 5px;
	color: #CCC;
	border: none;
	font-weight: bold;
	font-size: 0.9em;
	cursor: pointer;
	padding: 0 15px;
	display: inline-block;
}
.active
{
	color:#25aae1;
}

#scaleButton
{
	display:none;
	padding:10px;
	z-index:1;
}

.scaleButtonContainer {
    padding:10px;
    border-radius:5px;
    width:70px;
    margin: 0;
    border-width:1px;
    border-style:solid;
    border-color:#000;
    background: #444;
    text-align:center;
    color:#fff;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

.scaleButtonContainer img
{
	width:20px;
	height:20px;
}

.scale {
    padding:10px;
    width:70px;
    margin-left:1px;
    border-bottom:1px solid #222;
    background: #444;
    text-align:center;
    color:#fff;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}
#scaleItems
{
  margin-top:10px;
  display:none;
}
.tabs 
{
	
	display:inline-block;
	background-color:#222;
	height:99%;
	float:left;
	width:16.3%;
	margin-left:1px;
	border-bottom: 5px inset #222;
	transition: border-color 1s ease;
	font-size:1em;
	color:#eee;
	z-index:1000;
}

.tabs:hover
{
	background-color:#444;
	cursor: pointer;
}
.activeTab
{
	/*background:#999;*/
	border-bottom: 5px inset #6699ff;
	height:95%;
}
.desaturate
{
	margin-top:10px;
	margin-right:10px;
}
img.desaturate { filter: grayscale(100%); }
img.desaturate { -webkit-filter: grayscale(100%); filter: grayscale(100%); }
.button:hover
{
	background:#222;
}
.icon
{
	max-width:100%;
	max-height:100%;
	float: left;
}
.buttonText
{
	float: right;
    height: 100%;
    display: table;
}

.buttonText span
{
	display: table-cell;
	vertical-align: middle;
}

#tooltip
{
	height:auto;
	width:200px;
	color:#FFF;
	background:rgba(10,10,10,0.9);
	position:absolute;
	display: none;
	border:#F88017;
	border-style:solid;
	border-width:2px;
	border-radius:5px;
	z-index:100;
	
}
#label
{
	border-bottom:1px solid #659EC7;
	padding:2%;
	margin:3%;
	text-align:center;

}
.ohlc 
{
	font-size:0.8em;
	 width:25%;
	 height:100%;
	 float:left;
}
#openContainer,#closeContainer,#highContainer,#lowContainer
{
	width:44%;
	min-width:70px;
	float:right;
	margin:1%;
	font-size:0.7em;
	border-bottom:1px solid #659EC7;
	padding:2%;
	
}

#open,#close,#low,#high 
{
	width:70%;
	font-size:1.3em;
	float:right;
	overflow: hidden;
}
@media (max-width: 520px) {
.buttonContainers
{
	min-width:50px;
  }

.buttonText
{
    display: none;
}
.icon
{
	float:none;
}
#topBar
{
	display:none;
}
.button
{
	width:40px;
}
#tooltip
{
	width:100px;
}
#label
{
	font-size:0.5em;
}
#open,#close,#low,#high 
{
	width:70%;
	font-size:0.9em;
	vertical-align:top;
}
#openContainer,#closeContainer,#highContainer,#lowContainer
{
	vertical-align:middle;
	width:95%;
	padding:1%;

	
}
#scaleButton
{
	display:block;
}

  
}
@media (max-height: 400px) {

#tooltip
{
	width:150px;
}
#label
{
	font-size:0.5em;
}
#openContainer,#closeContainer,#highContainer,#lowContainer
{
	width:44%;
	min-width:50px;
	float:right;
	margin:1%;
	font-size:0.6em;
	border-bottom:1px solid #659EC7;
	padding:2%;
	
}
#open,#close,#low,#high 
{
	width:70%
	font-size:0.7em;
	vertical-align:top;
}
.ohlc
{
	font-size:0.7em;
	
}
.scaleButtonContainer 
{
	font-size:0.8em;
    padding:5px;
    border-radius:3px;
    width:50px;
}
.scaleButtonContainer img
{
	width:15px;
	height:15px;
}
.scale 
{
	font-size:0.8em;
    padding:5px;
    border-radius:3px;
    width:50px;
}

}
